/*Elementos Generales*/
body{
    background-color: #0A192F;
    font-family: "Orbitron", serif;
    color: whitesmoke;
}
canvas{
    width: 750px;
    height: 400px;
    margin: 5px;
    border: solid #E85D04;
}

/*Clases de Bootstrap*/
.container-fluid{
    background-color: #E85D04;
    text-align: center;
    padding: 10px;
    color: #0A192F;
    margin-top: 0;
    padding: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Clases personalizadas*/
.contenedor-opciones{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: solid #E85D04;
    background-color: #E85D04;
    color: #0A192F;
    
}
.iconos{
    display: flex;
    flex: 1;
    border: solid whitesmoke;
    justify-content: center;
    align-items: center;

}
.iconos i{
    font-size: 35px;
}
.iconos:hover{
    cursor: pointer;
    background-color: #0A192F;
    color: whitesmoke;
}
/* Elementos id*/
#grosor{
    cursor: pointer;
    accent-color:  #0A192F;
    margin-right: 5px;
}
#grosor:hover{
    accent-color: whitesmoke;
}
/* Adaptable - Responsivo*/
@media screen and (max-width:770px) {
    canvas{
        width: 550px;
    }
    .contenedor-opciones{
        width: 400px;
    }
}
@media screen and (max-width:570px) {
    canvas{
        width: 480px;
        height: 480px;
    }
    .contenedor-opciones{
        width: 480px;
    }
}
@media screen and (max-width:520px) {
    canvas{
        width: 400px;
        height: 400px;
    }
    .contenedor-opciones{
        width: 380px;
    }
    .iconos i{
        font-size: 25px;
    }
}
@media screen and (max-width:420px) {
    canvas{
        width: 350px;
        height: 320px;
    }
    .contenedor-opciones{
        width: 310px;
    }
    #grosor{
        width: 80px;
    }
    .iconos i{
        font-size: 28px;
    }
    .iconos span{
        font-size: 12px;
    }
}
@media screen and (max-width:360px) {
    canvas{
        width: 280px;
        height: 310px;
    }
    .contenedor-opciones{
        width: 280px;
    }
    .iconos i{
        font-size: 15px;
    }
    .iconos span{
        font-size: 10px;
    }
}



